header {
  position: fixed;
  top: 0;
  width: 50%;
  padding: 70px 80px 0 80px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;

  @include responsive(tablet) {
    width: 100%;
    padding: 20px 20px 0 20px;
    z-index: 110;
  }

  @include responsive(ipadpro) {
    padding: 50px 40px 0 40px;
  }

  .nav-logo {
    width: 31px;
    height: 45px;
    margin-top: 3px;
  }

  .pull-right {
    min-width: 150px;
    text-align: right;

    @include responsive(tablet) {
      margin-top: 7px;
    }

    .header-button, .avatar-steemit {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .header-button {
      font-size: 24px;
      color: $text-dark;
      margin-right: 14px;
    }

    .avatar-steemit {
      position: relative;
    }
  }
}

// override for header dropdown
.ant-popover.ant-popover-placement-bottomRight {
  .ant-popover-inner-content, .ant-popover-arrow {
    background: #001529;
  }

  .ant-popover-inner-content {
    padding: 0;
  }
}