html, body, .ant-list {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #fff;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

button {
  font-weight: 300;
}

html, body, .root, .app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.top-margin {
  margin-top: 0.5em !important;
}

.text-small {
  font-size: 0.875em !important;
  color: $text_grey !important;
  line-height: 1.5;
}

.round-border {
  border-radius: 999999px !important;
}

.primary-gradient {
  color: #fff;
  background-color: $primary; /* For browsers that do not support gradients */
  background: linear-gradient($primary, #fa7f92);
}

.inversed-color {
  background-color: #fff !important;
  color: $primary !important;
  border-color: #fff !important;
}

.padded-button {
  padding: 0.875em 2.25em !important;
  height: auto !important;
  font-weight: 300 !important;
  text-decoration: none !important;

  @include responsive(mobile) {
    font-size: 0.8rem;
  }
}

.pink-filled {
  background-color: rgba(252, 111, 111, 0.5);
}

.split-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;

  .panel-left, .panel-right {
    width: 50%;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
    position: relative;

    @include responsive(tablet) {
      width: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .panel-left {
    background-color: #fff;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.20);
    z-index: 100;

    .back-button {
      display: none;
    }

    @include responsive(tablet) {
      left:  100%;
      box-shadow: none;
      z-index: 110;
      transition: all 0.4s cubic-bezier(0.6, 0.07, 0, 0.99);

      &.active {
        left: 0;
      }

      .back-button {
        display: block;
        position: absolute;
        left: 14px;
        top: 1rem;
        color: #fff;
        font-size: 2rem;
        z-index: 150;
      }
    }
  }

  .panel-right {
    padding-top: 180px;
    z-index: 0;

    @include responsive(tablet) {
      padding-top: 110px;
      left: 0;
      z-index: 101;
    }
  }
}

.fake-link {
  cursor: pointer;
  color: $primary;
}

[role="button"] {
  cursor: pointer;
}

.hover-link {
  color: $text_dark;
  transition: color 0.3s ease;

  &:hover {
    color: $primary;
  }
}

.ant-btn {
  &:active {
    text-decoration: none;
  }
}

.center-loading {
  font-size: 40px;
  display: block;
  margin: 40px auto;
  color: $primary;
}

.diagonal-split-view {
  .top-container {
    font-size: 1rem;
    padding: 30px 20px 150px 20px;
    text-align: center;
    color: #fff;

    @include responsive(tablet) {
      padding-top: 19px
    }

    @include responsive(mobile) {
      font-size: 0.8rem;
    }

    h1 {
      margin-top: 1.4em;
      font-size: 3.125em;
      margin-bottom: 0;
      color: #fff;
    }

    h2 {
      margin-top: 0.75em;
      margin-bottom: 0;
      font-size: 1.25em;
      color: #fff;
      font-weight: 300;
    }
    .ant-btn {
      margin-top: 40px;
      line-height: 1.2;
    }
  }

  .diagonal-line {
    height: 80px;
    margin-top: -80px;
    background-color: #fff;
    background: linear-gradient(to right bottom, transparent 49.9%, #fff 50.1%);
  }

  .bottom-container {
    text-align: center;

    .timeline-container {
      padding-top: 26px;
      text-align: left;
      font-size: 0.875rem;
      overflow: hidden;
      display: block;

      .left {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.14;
        margin-top: -3px;
        color: #bbb;
        text-align: right;
        width: 50%;
        padding-right: 15px;

        li {
          padding-bottom: 25px;
        }
      }
      .ant-timeline { // override
        float: left;
        color: #666;
        width: 50%;
        margin-left: -5px;

        .ant-timeline-item-last .ant-timeline-item-content {
          min-height: auto;
        }
      }
    } // .timeline-container
  } // .bottom-container
}