.post-form {
  padding: 0 80px;

  @include responsive(mobile) {
    padding: 0 20px;
  }

  .delete-button {
    cursor: pointer;
    margin-left: 5px;
  }
  .dropbox {
    height: 150px;
    line-height: 1.5;
  }
  .ant-upload-list-item {
    margin-top: 8px;
  }

  // override to gravity zoom, center crop
  .ant-upload-list-item-info > span {
    width: 100%;
    height: 100%;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    object-fit: cover;
  }

  .submit-button {
    border:0;
  }
}

.post-list {
  margin-bottom: 4.375rem;

  .heading {
    padding-left: 80px;

    @include responsive(ipadpro) {
      padding-left: 40px;
    }

    @include responsive(tablet) {
      padding-left: 20px;
    }

    h3 {
      font-size: 1.375rem;
      margin-bottom: 0;
      color: $primary;
    }

    p {
      color: $text_dark;
      font-size: 0.875rem;
      margin-bottom: 2.5rem;

      @include responsive(tablet) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .post {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
    position: relative;

    @include responsive(tablet) {
      margin: 0 20px;
    }

    &:first-child {
      border-top: 1px solid #e8e8e8;
    }

    .rank {
      position: absolute;
      top: 10px;
      left: 0;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 0.875rem;
      color: $primary;
      text-align: center;

      @include responsive(ipadpro) {
        width: 40px;
      }

      @include responsive(tablet) {
        display: none;
      }
    }

    .thumbnail {
      position: absolute;
      top: 10px;
      left: 80px;
      width: 80px;
      height: 80px;
      object-fit: cover;

      @include responsive(ipadpro) {
        left: 40px;
      }

      @include responsive(tablet) {
        left: 0;
        width: 80px;
        height: 80px;
      }
    }

    .summary {
      padding-left: 170px;
      padding-right: 130px;
      min-height: 80px;

      @include responsive(ipadpro) {
        padding-left: 130px;
        padding-right: 90px;
      }

      @include responsive(tablet) {
        padding-left: 94px;
        padding-right: 55px;
        min-height: 80px;
      }

      .title {
        font-size: 1.125rem;

        @include responsive(tablet) {
          font-size: 1rem;
        }
      }

      .tagline, .stats {
        font-size: 0.875rem;

        @include responsive(tablet) {
          font-size: 0.75rem;
        }
      }

      .stats {
        color: $text_grey;
      }
    }

    .vote-section {
      position: absolute;
      right: 80px;
      top: 20px;
      text-align: center;

      @include responsive(ipadpro) {
        right: 40px;
      }

      @include responsive(tablet) {
        right: 2px;
        top: 26px;

        button {
          width: 26px;
          height: 26px;
          font-size: 12px;
        }

        .payout-value {
          font-size: 0.75rem;
        }
      }
    }
  }
} // .post-list

.post-container {
  .post-signup {
    border: 1px dashed #ccc;
    padding: 1em;
    border-radius: 1em;
    background-color: #f3f3f3;
    text-align: center;
    margin-bottom: 70px;

    .signin-link {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      display: block;
    }
  }

  .comments {
    max-width: 80%;
    margin: 0 auto 80px auto;

    @include responsive(tablet) {
      margin: 0 20px 60px 20px;
      max-width: none;
    }

    hr {
      margin-bottom: 1rem;

      @include responsive(mobile) {
        margin-bottom: 1.5rem;
      }
    }

    h3 {
      color: $primary;
      font-size: 1em;
      margin-bottom: 0.5rem;

      .fake-link {
        color: $primary;
      }

      .separator {
        color: $primary;
        margin: 0 0.5em;
        font-weight: 200;
      }
    }

    .reply-form {
      textarea {
        margin-top: 0.625rem;
        resize: none;
        border: 0;
        padding: 0.625rem 9rem 0.625rem 1rem;
        border-radius: 1.15625rem;
        background-color: #f3f3f3;

        &:focus { // override
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .actions {
        margin-top: -2.3125rem;
        margin-bottom: 1.5rem;
        margin-right: 0.125rem;
        // margin-top: 0.2rem;
        text-align: right;

        button {
          margin: 0 0.125rem;
          border-radius: 50vh;

          &.close-button {
            color: $text_grey;
            background-color: #ddd;

            &:hover, &:focus, &:active {
              background-color: #ccc;
              border:0;
            }
          }
        }
      }
    }

    .ant-list-item-meta-title { // override
      margin-bottom: 0.375em;
      font-weight: 400;
    }

    .separator {
      color: $light_grey;
      margin: 0 0.75em;
    }

    .comment-title {
      .author {
        display: inline-block;
      }

      .separator, .date {
        font-size: 0.75em;
        color: $text-grey;
      }
    }

    .comment-body {
      color: $text-dark;

      p {
        margin-bottom: 0.5em;
      }

      .actions {
        margin-bottom: 0.375em;
        .vote-button, .vote-count {
          display: inline-block;
        }

        .vote-button {
          .ant-btn-circle {
            width: 1.25rem;
            height: 1.25rem;
            font-size: 0.625rem;
          }

          .payout-value {
            margin-left: 0.75em;
          }
        }
      }
    }
  }
} // .post-container

.ant-popover-content {
  .voting-list {
    color:  $text-grey;
    min-width: 200px;

    .value {
      float: right;
    }
  }
}

.post-view {
  .top-container {
    .featured-date {
      background-color: #ff9daa;
      font-size: 0.75rem;
      padding: 0.125rem 0.9375rem;
    }
  }

  .bottom-container {
    .carousel {
      display: block;
      margin-top: -100px;
      border-radius: 16px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      max-width: 440px;
      height: 270px;
      box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px 0 rgba(0,0,0,0.20);

      @media only screen and (max-width: 460px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -105px;
      }

      .slick-list {
        border-radius: 16px;
      }

      .slick-slide {
        text-align: center;
        width: 100%;
        height: 270px;
        background: #d8d8d8;
        overflow: hidden;

        .anticon {
          font-size: 3.125rem;
          line-height: 270px;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; // gravity-zoom
        }
      }
    } // .carousel

    .description {
      font-size: 0.875rem;
      margin-top: 3rem;
      padding: 0 80px;

      @include responsive(mobile) {
        padding: 0 20px;
      }
    }

    .vote-container {
      padding-bottom: 40px;

      @include responsive(mobile) {
        padding-bottom: 30px;
      }

      // .vote-button -> _vote.scss
      .resteem-button {
        margin-top: 2em;
        border-radius: 50vh;
        padding-left: 1.5em;
        padding-right: 1.5em;
      }

      .social-shares {
        margin-top: 0.5em;
        a.share-icon {
          margin: 2px;
          color: $text-dark;
        }
      }
    }

    .tags {
      padding-bottom: 60px;

      @include responsive(mobile) {
        padding-bottom: 30px;
      }
    }
  } // .bottom-container
} // .post-view