.post-list {
  .vote-button {
    color: $primary;
    text-align: center;

    button {
      margin-bottom: 2px;
    }

    .payout-value {
      font-size: 0.875rem;
    }
  }
}

.post-view {
  .vote-button {
    button {
      width: 120px;
      height: 120px;
      border-radius: 50%;

      i {
        display: block;
        margin-bottom: 0.714em;
        margin-top: -0.714em;
      }
      span { /* override */
        margin-left: 0;
      }
    }
  }
}

.vote-box {
  width: 240px;
  overflow: hidden;
  padding: 0 10px;

  .weight {
    float: left;
    margin-top: 5px;
  }

  button {
    float: right;
  }
}
