.top-container {
  padding: 30px 0 70px 0;
  text-align: center;
  color: #fff; }
  .top-container .featured-date {
    background-color: #ff9daa;
    font-size: 0.75rem;
    padding: 0.125rem 0.9375rem;
  }
  .top-container h1 {
    margin-top: 70px;
    font-size: 3.125rem;
    margin-bottom: 0;
    color: #fff;
  }
  .top-container h2 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 300;
  }
  .top-container button {
    margin-top: 40px;
  }

.diagonal-line {
  height: 80px;
  background: #fff;
  background: linear-gradient(to right bottom, #fa7f92 49.9%, #fff 50.1%); }

.bottom-container {
  text-align: center; }
  .bottom-container .carousel {
    display: inline-block;
    margin-top: -100px;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 440px;
    height: 228px;
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.39); }
    .bottom-container .carousel .slick-slide {
      text-align: center;
      width: 100%;
      height: 228px;
      background: #d8d8d8;
      overflow: hidden; }
      .bottom-container .carousel .slick-slide .anticon {
        font-size: 3.125rem;
        line-height: 228px;
      }

  .bottom-container .timeline-container {
    margin-top: 40px;
    text-align: left;
    display: inline-block; }
    .bottom-container .timeline-container .left {
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1;
      margin-top: -4px;
      color: #bbb;
      text-align: right;
    }
    .bottom-container .timeline-container .left li {
      padding-bottom: 25px;
    }
    .bottom-container .timeline-container .ant-timeline {
      float: left;
      margin-left: 12px;
      color: #666;
    }

  .bottom-container .vote-container {
    padding-bottom: 60px;
  }
  .bottom-container .vote-button {
    width: 120px;
    height: 120px;
    border-radius: 50%; }
    .bottom-container .vote-button i {
      display: block;
      margin-bottom: 0.714em;
      margin-top: -0.714em;
    }

    .bottom-container .vote-button span { /* override */
      margin-left: 0;
    }

  .bottom-container .tags {
    padding-bottom: 60px;
  }